@font-face {
    font-family: 'ALS Hauss';
    src: local('ALS Hauss Regular'), local('ALS-Hauss-Regular'),
        url('../assets/fonts/ALSHauss-Regular/ALSHauss-Regular.woff2') format('woff2'),
        url('../assets/fonts/ALSHauss-Regular/ALSHauss-Regular.woff') format('woff'),
        url('../assets/fonts/ALSHauss-Regular/ALSHauss-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}