@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-sb() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin flex-col-sb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}